<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广告详情</title>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body>
<div style="margin: 0 auto">
    <div><span>广告标题:</span><input type="text" name="title"></div>
    <div><span>广告跳转地址</span><input type="text" name="toUrl"></div>
    <div><span>广告类型:</span><input type="text" name="type"></div>
    <div><span id="img">图片：</span><input type="file" name="fileImage" id="file"></div>
    <button class="submit">提交</button>
</div>
</body>
<script>

    var imageStr = "";

    $(function () {
        $("#file").change(function () {
            run(this, function (data) {
                imageStr = data;
            });
        });
    });

    function run(input_file,get_data){
        /*input_file：文件按钮对象*/
        /*get_data: 转换成功后执行的方法*/
        if ( typeof(FileReader) === 'undefined' ){
            alert("抱歉，你的浏览器不支持 FileReader，不能将图片转换为Base64，请使用现代浏览器操作！");
        } else {
            try{
                /*图片转Base64 核心代码*/
                var file = input_file.files[0];
                //这里我们判断下类型如果不是图片就返回 去掉就可以上传任意文件
                if(!/image\/\w+/.test(file.type)){
                    alert("请确保文件为图像类型");
                    return false;
                }
                var reader = new FileReader();
                reader.onload = function(){
                    get_data(this.result);
                }
                reader.readAsDataURL(file);
            }catch (e){
                alert('图片转Base64出错啦！'+ e.toString())
            }
        }
    }

    $(".submit").click(function () {
        $.ajax({
            headers:{
                "Content-Type":"application/json",
                token:'e6ccf915-9852-47e8-b918-1a4e300e152e'
            },
            url:'/api/advertise/publish',
            method:'POST',
            dataType:'json',
            data:JSON.stringify({
                "title":$(".title").val(),
                "type":$(".type").val(),
                "toUrl":$(".toUrl").val(),
                "imgStr":imageStr
            }),
            success:function (data) {
                alert(data);
            }
        })
    })
</script>
</html>